// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.router-link-exact-active {
    text-decoration: none!important;
    border-left: 5px solid #22b573;
}
.router-link-exact-active i {
    color: #22B573 !important;
}
.router-link-exact-active span {
    color: #22B573 !important;
    font-weight: 700;
}
.swal2-popup.swal2-toast .swal2-title {
    font-size: 20px !important;
}
.swal2-popup.swal2-toast {
    padding: 15px !important;
}
